@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #c4c4c4;
  background: black;
  font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
}

h2 {
  @apply text-[1.48vw];
  @apply font-bold;
  @apply leading-[140%];
}

.footer__tablet__size {
  font-size: clamp(0.75rem, -0.0278rem + 1.6204vw, 1.1875rem);
}

.text-rank {
  font-size: clamp(2.125rem, 1.675rem + 2.25vw, 4.375rem);
}

.text-title {
  font-size: clamp(0.375rem, 0.1875rem + 0.9375vw, 1.3125rem);
}

.text-desc {
  font-size: clamp(0.375rem, 0.25rem + 0.625vw, 1rem);
}

.text-button {
  font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
}

.scroll::-webkit-scrollbar {
  display: none;
}

.form-input{
  box-sizing: border-box;
  border: 2px solid black;
  width: 100%;
  padding: 1rem;
  outline-style: none;
  background-color: #565656;
}

.header-gradient {
  background: linear-gradient(#000, transparent);
}

.form-input:focus{
  border: 2px solid #ff153c;
}

.login-title{
  font-size: clamp(1rem, 0.725rem + 1.375vw, 2.375rem);
}

.login-txt{
  font-size: clamp(0.75rem, 0.55rem + 1vw, 1.75rem);
}

.find-txt{
  font-size: clamp(0.625rem, 0.45rem + 0.875vw, 1.5rem);
}
